./apps/user/.env
./apps/admin/.env
./packages/db/.env
.vscode

.git
.gitignore
.gitattributes

**/node_modules
**/.pnp
**/.pnp.js
.pnpm-store
.npmrc
.yarn
.yarnrc*
.yarn-cache
.yarnrc.yml
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

**/.next
**/dist
**/build
**/.turbo
**/.swc
.next
out

**/.env
**/.env.*
!*.example  # keep .env.example

.vscode
.idea
.DS_Store
Thumbs.db
*.swp
*.swo
